
html, body {
    height: 100%;
}

.nav-wrapper {
  padding-left: 30px;
}

.signin-container, .profile, .container, .sign-up {
  min-height: 100%;
  margin: 0 auto -75px; /* the bottom margin is the negative value of the footer's height */
}



footer .row, .push {
  text-align: center;
  margin-bottom: 0;
  height: 75px;
}