
html, body {
    height: 100%;
}

#nosideMargin {
  margin-right: 0;
}

.messageInput {
  margin: auto;
}

#app {
  margin: 0;
  width: 100%;
}

.videoPlaceholder {
  margin: auto;
}

.nav-wrapper {
  padding-left: 30px;
}

.signin-container, .profile, .container, .sign-up {
  min-height: 100%;
  margin: 0 auto -75px; /* the bottom margin is the negative value of the footer's height */
}

nav {
  margin-bottom: 20px;
}

.pear-logo {
  height: 60px;

}

footer .row, .push {
  text-align: center;
  margin-bottom: 0;
  height: 75px;
}

.footer-text {
  color:white;
}
.contacts p {
  padding: 5px;
}

.contacts p:hover {
  background-color: #ededed;
  cursor: pointer;
}

.userMsg {
  color : black;
}

.incoming {
  color : blue;
  text-align: right;
}

.outgoing {
  color : red;
  text-align: left;
}

.convoWith {
  margin-top: 30px;
}

.container {
  width: 100%;
  margin: auto;
}

.landing-header{
  text-align: center;
}
/*.text-header{
  width: 80%
}*/

